h1 a, h2 a {
     color: #f7c1e4;
     font-family: 'Fredoka One', cursive;
     padding-left: 100px;
}

body {
  padding-left: 0px;
}
.page-header {
    background-color: #C1E4F7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f7c1e4;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 230px;
}

.content {
    margin-left: 40px;
    padding-left: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Fredoka One', cursive;
    color: #f7c1e4;
    padding-left: 10px;
}

.date {
    color: #C1E4F7;
    padding-left: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #C1E4F7;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #f7c1e4;
}
